@media (max-width: 1200px) {
    .slider-container {
        display: none;
    }
}

@media (max-width: 1150px) {
    .header-container,
    .footer-container,
    .nav-container,
    .main-container {
        width: calc(100% - 60px) !important;
        padding: 0 30px !important;
    }
}

@media (max-width: 850px) {

    .header-contacts {
        font-size: 30px !important;
    }

    .pizzas-goods > .product,
    .snacks-goods > .product,
    .snacks-goods-freetur > .product,
    .snacks-goods-rolls > .product {
        width: calc(33% - 20px) !important;
    }

    .sauces-goods > .product {
        width: 20% !important;
    }

    .footer {
        padding: 30px !important;
    }

    .footer-wrapper {
        width: 100% !important;
    }
}

@media (max-width:750px) {
    .header-container,
    .footer-container,
    .main-container {
        width: calc(100% - 30px) !important;
        padding: 35px 15px !important;
    }

    .cart-item {
        display: grid !important;
        grid-template-columns: 30% 30% 30% !important;
        grid-template-rows: 50% 50% !important;

        font-size: 1rem !important;
    }

    .cart-empty-text {
        grid-column: 2 !important;
    }

    .item-image {
        grid-column: 1 !important;
        grid-row: 1 / 3 !important;
    }

    .item-title {
        font-size: .7rem !important;
        width: 100% !important;
        max-width: 100% !important;
    }

    .item-price {
        grid-column: 2 !important;
        width: 100% !important;
    }

    .item-price .price-value {
        font-size: 1.1rem !important;
    }

    .item-amount {
        grid-column: 3 !important;
        grid-row: 2 !important;
        justify-content: space-evenly !important;
    }

    .item-amount .amount {
        margin: 10px !important;
    }

    .item-delete {
        grid-column: 3 !important;
        grid-row: 1 !important;
    }

    .item-delete img {
        margin-left: auto !important;
        margin-right: 20px !important;
    }

    .order-popup {
        overflow: scroll !important;
    }

    .popup-container .form-container {
        flex-direction: column !important;
    }

    .input-wrapper {
        width: calc(100% - 10px) !important;
    }

    .form-close-btn {
        top: 1% !important;
        right: 2% !important;
    }

    .form-close-btn i,
    .form-close-btn i::after {
        background-color: #000 !important;
    }

    .confirm-btn {
        width: 100% !important;
    }
}

@media (max-width: 600px) {
    .header-container,
    .nav-container {
        padding: 0 0;
        width: 100%;
    }

    .header .logo {
        width: 70px !important;
    }

    .header-top-left div,
    .header-deliverytime div {
        margin-top: 0 !important;
        font-size: 13px !important;
    }

    .header-contacts {
        font-size: 22px !important;
    }

    .header-top-center {
        font-size: 16px !important;

    }

    .burger-btn {
        display: flex !important;
    }
    .burger-open {
        position: fixed !important;
        top: 0 !important;
        left: 0 !important;
        background-color: #000 !important;
        flex-direction: column !important;
        opacity: .9 !important;
        padding: 5% !important;
        width: 40% !important;
        height: 100% !important;
        justify-content: flex-start !important;
        z-index: 2 !important;
        display: flex !important;
    }
    
    .bg {
        background-color: transparent;
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 100%;
    }

    .nav-goods {
        display: none !important;
    }

    .burger-open li {
        background-image: none !important;
        margin-bottom: 25px !important;
        justify-content: left !important;
    }

    .burger-open li a {
        color: #fff !important;
        font-weight: 900 !important;
        text-transform: uppercase !important;
    }

    .cart-btn {
        margin-left: auto !important;
    }

    .pizzas-goods > .product,
    .snacks-goods > .product,
    .snacks-goods-freetur > .product,
    .snacks-goods-rolls > .product,
    .desserts-goods > .product {
        width: calc(100% - 20px) !important;
        margin: 0 auto !important;
    }

    .drinks-goods > .product,
    .sauces-goods > .product {
        width: calc(50% - 20px) !important;
    }

    .drinks-goods .product-description h3 {
        font-size: 16px !important;
    }

    .drinks-goods .add-container {
        padding: 0 !important;
    }

    .drinks-goods .product-description {
        display: flex !important;
        justify-content: space-between !important;
    }

    .drinks-goods .product-description .size-weight {
        margin: 0 !important;
    }

    .footer-container {
        padding: 0 !important;
        width: 100% !important;
    }

    .footer-wrapper .pay {
        width: 100% !important;
        margin: 15px 0 !important;
    }

    .footer-wrapper .tel {
        font-size: 24px !important;
    }

    .cart-container {
        padding: 5% !important;
        width: calc(100% - 10%) !important;
    }
}

@media (max-width: 450px) {
    .header-wrapper {
        flex-direction: column !important;
    }

    .footer-wrapper .logo {
        width: 50% !important;
    }

    .footer-wrapper .logo img {
        width: 100% !important;
    }
}

@media (max-width: 360px) {
    body {
        font-size: 13px !important;
    }
    .header-contacts {
        font-size: 16px !important;
    }
    .header-top-left div,
    .header-deliverytime div {
        font-size: 10px !important;
    }
    .main-pizzas > h3,
    .main-snacks > h3,
    .main-desserts > h3,
    .main-drinks > h3,
    .main-sauces > h3 {
        font-size: 22px !important;
        padding: 20px 0 !important;
    }
}